@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vp-font-family-base: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.button-primary {
  @apply text-white dark:text-black bg-black hover:bg-gray-800 dark:bg-gray-100 dark:hover:bg-gray-200 font-bold;
}

.button-secondary {
  @apply text-gray-800 dark:text-gray-200 bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700;
}

.button-danger {
  @apply text-red-800 dark:text-red-200 bg-red-50 hover:bg-red-100 dark:bg-red-900 dark:hover:bg-red-800;
}
