name: Extraer valores de FCI

on:
  schedule:
    - cron: '30 22 * * *' # 19:30 ART
    - cron: '30 23 * * *' # 20:30 ART
    - cron: '30 0 * * *'  # 21:30 ART
  workflow_dispatch:

jobs:
  update:
    uses: ./.github/workflows/reusable-data-update.yml
    with:
      run_command: pnpm run cron fci
      needs_build: true
      env_preset: full
    secrets: inherit
